.layout {
  position: relative
}

.dropdown {
  position: absolute;
  top: 100%;
  background: #fff;
  margin: .25rem 0 0;
  color: #303030;
  left: 0;
  right: 0;
  z-index: 50;
  box-shadow: 0 1px 2px #0000000d;
  border-radius: .25rem;
  border: 1px solid #e2e8f0;
}

.scroll {
  overflow: hidden auto;
  max-height: 200px;
  scroll-behavior: smooth;
}

.item {
  cursor: pointer;
  padding: .625rem .75rem;
  transition: background-color 0.25s ease;

  &:hover {
    color: inherit;
    background-color: #f1f5f9;
  }
}

.selected {
  color: #fff;
  background-color: #1e3a8a;
}